<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <aside class="sidebar">
      <nav class="sidebar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/movies">All Movies</a></li>
        <li><a href="/genres">Genres</a></li>
        <li><a href="/favorites">Favorites</a></li>
      </nav>
    </aside>
  </body>
</html>
