<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <aside class="sidebar">
      <nav class="sidebar-nav">
        <li><a href="/shop">Home</a></li>
        <li><a href="/shop/clothing">Clothing</a></li>
        <li><a href="/shop/footwear">Footwear</a></li>
        <li><a href="/favorites">Favorites</a></li>
      </nav>
    </aside>
  </body>
</html>
